body {
	background-color: #dcdcdc;
	margin-top: 5%;
	font-family: 'Actor';
}

a {
	color: inherit;
}

#content {
	font-size: 20px;
}

#profile-links, #home-icons  {
	word-spacing: 20px;
}

#home-icons {
	margin-top: 25px;
}